@import "tailwindcss";

:root {
  --bg-default: #e9e9e9;
  --branco: #f4f4f4;
  --cinza: #787878;
  --azul: #1a3f7d;
}

body {
  font-size: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}